@import "../node_modules/pretendard/dist/web/static/pretendard.css";
@import "utils.scss";

// Label Placeholder Focus 스타일
@mixin placeholderFocusStyle {
  color: $primary;
  scale: 0.8;
  top: 7px;
  left: 2px;
  transform: translate(0, 0);
}

// Loding Spinner 스타일
.clip-loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Toast 스타일
.Toastify__toast {
  background-color: $primary !important;
  font-weight: 500;
  &-container {
    background-color: transparent;
  }
  &-body {
    background-color: transparent;
    text-align: center;
    & > div {
      background-color: transparent;
      color: $brown;
    }
  }
}

// 전체 레이아웃
body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: $brown;
  color: $white;
}

// 레이아웃
.layout {
  width: 100%;
  min-width: 360px;
  max-width: 860px;
  min-height: 100vh;
  margin: 0 auto;
  border-right: 1px solid $border;
  border-left: 1px solid $border;
  display: grid;
  grid-template-columns: 1fr 8fr;

  @include xsMobile {
    display: block;
    grid-template-columns: auto;
    position: relative;
  }

  @include mobile {
    display: block;
    grid-template-columns: auto;
    position: relative;
  }

  @include tablet {
    max-width: 660px;
  }
}

.button {
  font-family: $font;
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.transparent {
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

// Header 레이아웃
.header {
  @extend .transparent;
  @extend .sticky;
  padding: 0 8px;
  background-color: transparent;
  &__flex {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      font-size: 24px;
      padding: 4px 0;
      cursor: pointer;

      .logo {
        font-size: 36px;
      }

      .menu-btn {
        background-color: transparent;
        display: flex;
        align-items: center;
        border-radius: 50%;
        padding: 8px;

        svg {
          background-color: transparent;
        }

        &:hover,
        &:focus {
          background-color: $border;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  &__profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    height: 60px;

    &-left {
      background-color: transparent;
      button {
        @include tablet {
          display: none;
        }
        @include desktop {
          display: none;
        }
      }
    }

    &-center {
      background-color: transparent;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
    }

    &-right {
      background-color: transparent;
      justify-self: end;
      margin-right: 8px;

      .lang-btn {
        font-family: $font;
        font-size: 16px;
        padding: 0.5rem 0.75rem;
        border-radius: 999px;

        &:hover {
          background-color: $border;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  &.mobile {
    display: none;
    @include xsMobile {
      display: block;
    }
    @include mobile {
      display: block;
    }
  }
}

// Menu 레이아웃
.menu {
  position: sticky;
  left: 0;
  border-right: 1px solid $border;
  @include tablet {
    height: 100vh;
    top: 0;
  }
  @include desktop {
    width: 190.94px;
    height: 100vh;
    top: 0;
  }
  &__grid {
    display: flex;
    flex-direction: column;
    align-items: start;
    @include tablet {
      align-items: center;
    }

    .log-btn {
      position: absolute;
      bottom: 0;
    }

    button {
      width: 100%;
      border: none;
      display: flex;
      justify-content: start;
      font-size: 28px;
      padding: 12px 0;
      padding-left: 16px;
      cursor: pointer;
      @include tablet {
        padding-left: 0;
        justify-content: center;
      }

      &:hover {
        background-color: $border;
        transition: all 0.2s ease-in-out;
      }

      .menu-btn {
        display: flex;
        align-items: center;
        border-radius: 50%;
        padding: 8px;
        background-color: transparent;

        svg {
          background-color: transparent;
        }

        span {
          background-color: transparent;
          font-size: 20px;
          margin: 0 16px;

          @include tablet {
            display: none;
          }
        }
      }
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
  }

  @include xsMobile {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid $border;

    &__grid {
      button {
        padding-left: 0;
        justify-content: center;
      }

      &-tablet,
      &-text {
        display: none !important;
        background: #000;
      }

      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @include mobile {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid $border;

    &__grid {
      button {
        padding-left: 0;
        justify-content: center;
      }

      &-tablet,
      &-text {
        display: none !important;
        background: #000;
      }

      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

// Home 레이아웃
.home {
  &__top {
    @extend .transparent;
    @extend .sticky;
  }

  &__tabs {
    background-color: transparent;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-bottom: 1px solid $border;
  }

  &__tab {
    background-color: transparent;
    text-align: center;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;

    & span {
      background-color: transparent;
      padding: 12px 0;
      color: $grayText;
    }

    &--active span {
      font-weight: 700;
      border-bottom: 4px solid $primary;
      color: $white;
    }

    &:hover,
    &:focus {
      background-color: $border;
      transition: all 0.2s ease-in-out;
    }
  }
}

.post-form {
  &__input {
    font-family: $font;
    padding: 8px;
    border: none;
    resize: none;
    outline: none;
    width: calc(100% - 32px);
  }

  &__hashtags {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;

    &-outputs {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 8px;

      .tag-remove {
        &:hover,
        &:focus {
          color: $activePrimary;
          border-color: $activePrimary;
        }
      }
    }

    &-tag {
      font-size: 14px;
      color: $primary;
      border-radius: 10px;
      margin-right: 6px;
      cursor: pointer;
    }
  }

  &__textarea {
    font-family: $font;
    display: block;
    width: calc(100% - 32px);
    height: 52px;
    margin: 16px;
    padding-bottom: 16px;
    border: none;
    resize: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid $border;
    min-height: 52px;
    overflow: hidden;

    &::placeholder {
      font-family: $font;
      color: $grayText;
      font-size: 20px;
    }
  }

  &__attachment {
    position: relative;
    margin: 0 16px;

    img {
      border-radius: 16px;
      border: 1px solid $border;
    }

    button {
      border: none;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      right: 4px;
      top: 4px;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover,
      &:focus {
        background-color: $border;
        transition: all 0.2s ease-in-out;

        svg {
          background-color: $border;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  &__submit-area {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    border-bottom: 1px solid $border;

    .post-form__file {
      display: flex;
      font-size: 20px;
      padding: 0.5rem 0.5rem;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;

      svg {
        background-color: transparent;
        stroke: $primary;
      }

      &:hover,
      &:focus {
        background-color: $border;
        transition: all 0.2s ease-in-out;
      }
    }

    .hidden {
      display: none;
    }
  }

  &__submit-btn {
    @extend .button;
    padding: 0.5rem 1rem;
    background-color: $primary;
    color: $brown;

    &:hover,
    &:focus {
      background-color: $activePrimary;
      transition: all 0.2s ease-in-out;
    }
  }
}

// Post 레이아웃
.post {
  &__no-posts {
    padding: 16px;

    .post__text {
      font-size: 14px;
      border: 1px solid $border;
      padding: 16px;
      border-radius: 4px;
    }
  }

  padding-bottom: 68px;

  &__flex {
    display: flex;
    gap: 4px;
    align-items: center;
    &--between {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__follow-btn {
    @extend .button;
    height: 28px;
    background-color: $white;
    color: $brown;

    &:hover {
      opacity: 0.8;
      transition: all 0.2s ease-in-out;
    }
  }

  &__following-btn {
    @extend .button;
    border: 1px solid $border;
    height: 28px;
    line-height: 14px;

    &:hover {
      background-color: $red;
      border-color: $red;
      transition: all 0.2s ease-in-out;
    }
  }

  &__username {
    margin-right: 4px;
  }

  &__createdAt {
    font-size: 12px;
    color: $grayText;
  }

  &__image-div {
    margin-bottom: 16px;
    img {
      border-radius: 16px;
      border: 1px solid $border;
    }
  }

  &__box {
    padding: 16px;
    border-bottom: 1px solid $border;

    a {
      text-decoration: none;
    }

    &-profile {
      text-decoration: none;

      &-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
        object-position: center;
      }
    }

    &-content {
      display: flex;
      font-weight: 500;
      padding: 16px 0;
      white-space: pre-line;
      line-height: 20px;
    }

    &-footer {
      font-size: 14px;
      display: grid;
      grid-template-columns: 1fr 2fr;

      .post__social-actions {
        display: flex;
      }

      .post__admin-actions {
        display: flex;
        justify-content: end;
      }

      button {
        @extend .button;
        box-shadow: none;

        &.post__edit {
          & a {
            background-color: transparent;
          }

          &:hover,
          &:focus {
            background-color: $border;
            transition: all 0.2s ease-in-out;
          }
        }

        &.post__delete {
          &:hover,
          &:focus {
            background-color: $red;
            transition: all 0.2s ease-in-out;
          }
        }

        &.post__comments,
        &.post__likes {
          @extend .post__flex;
        }

        &.post__comments {
          position: relative;
          left: -0.8rem;
          cursor: default;
        }
        &.post__likes {
          &:hover {
            color: $red;
            transition: all 0.2s ease-in-out;
            & > svg {
              fill: $red;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}

// Landing 레이아웃
.landing {
  padding: 18px;
  @include mobile {
    padding: 32px;
  }
  @include tablet {
    padding-right: 64px;
  }
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    font-size: 4rem;
  }
  .auth-form {
    width: 100%;
    &__title {
      font-weight: 700;
      font-size: 2.75rem;
      @include tablet {
        font-size: 4rem;
      }
      @include desktop {
        font-size: 4.5rem;
      }
    }

    &__subtitle {
      font-weight: 700;
      font-size: 1.5rem;
      @include tablet {
        font-size: 2rem;
      }
      @include desktop {
        font-size: 2.5rem;
      }
    }

    &__sign-area {
      button {
        @extend .button;
        background-color: white;
        color: black;
        width: 300px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 15px;
        font-weight: 700;

        &:hover,
        &:focus {
          background-color: $white;
          transition: all 0.2s ease-in-out;
        }
      }

      .social-login {
        display: flex;
        flex-direction: column;
        gap: 12px;

        button {
          svg {
            background-color: transparent;
            fill: black;
          }
        }
      }

      .or-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        margin: 8px 0;

        span {
          display: block;
          font-size: 14px;
          width: 30px;
          text-align: center;
        }

        &__line {
          width: 130.5px;
          height: 1px;
          background-color: $border;
        }
      }

      .local-sign {
        .signup-btn {
          background-color: $primary;
          margin-bottom: 2.75rem;

          &:hover,
          &:focus {
            background-color: $activePrimary;
          }
        }

        p {
          font-size: 17px;
          font-weight: 700;
        }
      }
    }
  }
}

// Signup, SignIn
.form__btn-back {
  margin: 8px;
  button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 10px;

    &:hover {
      background-color: $border;
      transition: all 0.2s ease-in-out;
    }

    .menu-btn {
      background-color: transparent;
      svg {
        background-color: transparent;
      }
    }
  }
}

// Form 레이아웃
.form {
  width: 100% !important;
  height: 100vh;
  padding: 18px;
  @include mobile {
    padding: 32px;
  }
  @include tablet {
    padding-right: 64px;
  }
  @include desktop {
    padding-right: 128px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  h1 {
    font-size: 2rem;
  }

  input {
    padding: 20px 10px 0 10px;
    border-radius: 0.3rem;
    border: 1px solid $border;
    width: 100%;
    height: 56px;
    font-family: $font;
    font-size: 16px;

    &:focus {
      outline: 2px solid $primary;

      & + .placeholder {
        @include placeholderFocusStyle;
      }
    }
  }

  &__block {
    margin-top: 20px;
    width: 100%;
    position: relative;

    .toggle-hide {
      @extend .button;
      padding: 4px;
      box-shadow: none;
      position: absolute;
      right: 2px;
      bottom: 2px;
      font-size: 20px;
    }
  }

  &__error {
    color: $red;
  }

  &__info {
    color: $grayText;
  }

  .placeholder {
    position: absolute;
    font-size: 16px;
    transition: all 0.1s ease;
    transform: translate(0, -50%);
    left: 10px;
    top: 50%;
    color: $grayText;

    &.label--focused {
      @include placeholderFocusStyle;
    }
  }

  &__btn-submit {
    @extend .button;
    width: 100%;
    height: 48px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    background-color: $primary;
    color: $brown;
    margin-top: 16px;
    margin-bottom: 32px;

    &:hover,
    &:focus {
      background-color: $activePrimary;
      transition: all 0.2s ease-in-out;
    }
  }

  &__link {
    margin-left: 6px;
    color: $primary;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

// Search
.search {
  &__input {
    padding: 8px 16px;
    border: none;
    outline: none;
    width: calc(100% - 160px);
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 1rem;
    background-color: $border;
    border-radius: 20px;

    @include tablet {
      width: calc(100% - 32px);
    }

    @include desktop {
      width: calc(100% - 32px);
    }

    &::placeholder {
      font-weight: 700;
    }

    &:focus {
      border: 1px solid $primary;
    }
  }
}

// Edit Profile
.profile-form {
  padding: 32px 48px;
  justify-content: start;
  .post-form__submit-area {
    border: none;
    margin: 0 auto;
  }
  .profile-form__submit-area {
    position: relative;
    width: 130px;
    height: 130px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .post-form__file {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
}

// Profile
.profile {
  padding: 16px;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__btn {
    @extend .button;
    padding: 0.5rem 1rem;
    height: 36px;
    background-color: $primary;
    color: $brown;

    &:hover,
    &:focus {
      background-color: $activePrimary;
      transition: all 0.2s ease-in-out;
    }
  }

  &__text {
    margin-top: 8px;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2px;
  }

  &__email {
    color: $grayText;
  }
}
