@import "../node_modules/pretendard/dist/web/static/pretendard.css";

// 뷰포인트
$mobile: 500px;
$small: 690px;
$medium: 1005px;
$large: 1281px;

// 미디어쿼리
@mixin mobile {
  @media (max-width: ($mobile - 1)) {
  }
  @content;
}

@mixin small {
  @media (min-width: $mobile) and (max-width: ($small - 1)) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $small) and (max-width: ($medium - 1)) {
    @content;
  }
}

@mixin large {
  @media (min-width: $medium) and (max-width: ($large - 1)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $large) {
    @content;
  }
}

// 색상
$brown: #292826;
$white: #e7e9ea;
$border: #464441;
$primary: #f9d142;
$activePrimary: rgb(219, 178, 31);
$grayText: #71767b;
$red: #de373d;

$font: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// Label Placeholder Focus 스타일
@mixin placeholderFocusStyle {
  color: $primary;
  scale: 0.8;
  top: 7px;
  left: 2px;
  transform: translate(0, 0);
}

// Loding Spinner 스타일
.clip-loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Toast 스타일
.Toastify__toast {
  background-color: $primary !important;
  font-weight: 500;
  &-body {
    background-color: transparent;
    & > div {
      background-color: transparent;
      color: $brown;
      text-align: center;
    }
  }
}

// 전체 레이아웃
body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: $brown;
  color: $white;
}

.layout {
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  border-left: $border 1px solid;
  border-right: $border 1px solid;

  // @include mobile
  max-width: $mobile;
}

.button {
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.transparent {
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

// Header 레이아웃
.header {
  @extend .transparent;
  @extend .sticky;
  padding: 0 8px;
  background-color: transparent;
  &__flex {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      font-size: 24px;
      padding: 4px 0;
      cursor: pointer;

      .logo {
        font-size: 36px;
      }

      .menu-btn {
        background-color: transparent;
        display: flex;
        align-items: center;
        border-radius: 50%;
        padding: 8px;

        svg {
          background-color: transparent;
        }

        &:hover,
        &:focus {
          background-color: $border;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  &__profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

// Menu 레이아웃
.menu {
  // @include mobile
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  max-width: $mobile;
  margin: 0 auto;
  border-top: 1px solid $border;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    button {
      border: none;
      display: flex;
      justify-content: center;
      font-size: 28px;
      padding: 12px 0;
      cursor: pointer;

      .menu-btn {
        display: flex;
        align-items: center;
        border-radius: 50%;
        padding: 8px;

        svg {
          background-color: transparent;
        }

        &:hover,
        &:focus {
          background-color: $border;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

// Home 레이아웃
.home {
  &__top {
    @extend .transparent;
    @extend .sticky;
  }

  &__tabs {
    background-color: transparent;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-bottom: 1px solid $border;
  }

  &__tab {
    background-color: transparent;
    text-align: center;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;

    & span {
      background-color: transparent;
      padding: 12px 0;
      color: $grayText;
    }

    &--active span {
      font-weight: 700;
      border-bottom: 4px solid $primary;
      color: $white;
    }

    &:hover,
    &:focus {
      background-color: $border;
      transition: all 0.2s ease-in-out;
    }
  }
}

.post-form {
  & textarea {
    font-family: $font;
    display: block;
    width: calc(100% - 32px);
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border: none;
    resize: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid $border;
    min-height: 52px;
    overflow: hidden;

    &::placeholder {
      font-family: $font;
      color: $grayText;
      font-size: 20px;
    }
  }

  &__submit-area {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    border-bottom: 1px solid $border;

    .post-form__file {
      display: flex;
      font-size: 20px;
      padding: 0.5rem 0.5rem;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;

      svg {
        background-color: transparent;
        stroke: $primary;
      }

      &:hover,
      &:focus {
        background-color: $border;
        transition: all 0.2s ease-in-out;
      }
    }

    .hidden {
      display: none;
    }
  }

  &__submit-btn {
    @extend .button;
    padding: 0.5rem 1rem;
    background-color: $primary;
    color: $brown;

    &:hover,
    &:focus {
      background-color: $activePrimary;
      transition: all 0.2s ease-in-out;
    }
  }
}

// Post 레이아웃
.post {
  &__no-posts {
    padding: 16px;

    .post__text {
      font-size: 14px;
      border: 1px solid $border;
      padding: 16px;
      border-radius: 4px;
    }
  }

  padding-bottom: 68px;

  &__flex {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__email,
  &__createdAt {
    font-size: 12px;
    color: $grayText;
  }

  &__box {
    padding: 16px;
    border-bottom: 1px solid $border;

    a {
      text-decoration: none;
    }

    &-profile {
      text-decoration: none;

      &-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    &-content {
      display: flex;
      font-weight: 500;
      padding: 16px 0;
    }

    &-footer {
      font-size: 14px;
      display: grid;
      grid-template-columns: 1fr 2fr;

      .post__social-actions {
        display: flex;
      }

      .post__admin-actions {
        display: flex;
        justify-content: end;
      }

      button {
        @extend .button;
        box-shadow: none;

        &.post__edit {
          & a {
            background-color: transparent;
          }

          &:hover,
          &:focus {
            background-color: $border;
            transition: all 0.2s ease-in-out;
          }
        }

        &.post__delete {
          &:hover,
          &:focus {
            background-color: $red;
            transition: all 0.2s ease-in-out;
          }
        }

        &.post__comments,
        &.post__likes {
          @extend .post__flex;
        }

        &.post__comments {
          position: relative;
          left: -0.8rem;
          &:hover,
          &:focus {
            color: $primary;
            transition: all 0.2s ease-in-out;
            & > svg {
              fill: $primary;
              transition: all 0.2s ease-in-out;
            }
          }
        }
        &.post__likes {
          &:hover,
          &:focus {
            color: $red;
            transition: all 0.2s ease-in-out;
            & > svg {
              fill: $red;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}

// Landing 레이아웃
.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    // @include mobile
    font-size: 4rem;
  }
  .auth-form {
    &__title {
      font-weight: 700;
      // @include mobile
      font-size: 2.75rem;
    }

    &__subtitle {
      font-weight: 700;
      // @include mobile
      font-size: 1.5rem;
    }

    &__sign-area {
      button {
        @extend .button;
        background-color: white;
        color: black;
        width: 300px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 15px;
        font-weight: 700;

        &:hover,
        &:focus {
          background-color: $white;
          transition: all 0.2s ease-in-out;
        }
      }

      .social-login {
        display: flex;
        flex-direction: column;
        gap: 12px;

        button {
          svg {
            background-color: transparent;
            fill: black;
          }
        }
      }

      .or-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        margin: 8px 0;
        &__line {
          width: 138.5px;
          height: 1px;
          background-color: $border;
        }
      }

      .local-sign {
        .signup-btn {
          background-color: $primary;
          margin-bottom: 2.75rem;

          &:hover,
          &:focus {
            background-color: $activePrimary;
          }
        }

        p {
          font-size: 17px;
          font-weight: 700;
        }
      }
    }
  }
}

// Form 레이아웃
.form {
  max-width: $mobile;
  height: 100vh;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  h1 {
    font-size: 2rem;
  }

  input {
    padding: 20px 10px 0 10px;
    border-radius: 0.3rem;
    border: 1px solid $border;
    width: 100%;
    max-width: $mobile;
    height: 56px;
    font-family: $font;
    font-size: 16px;

    &:focus {
      outline: 2px solid $primary;

      & + .placeholder {
        @include placeholderFocusStyle;
      }
    }
  }

  &__block {
    margin-top: 20px;
    width: 100%;
    position: relative;

    .toggle-hide {
      @extend .button;
      padding: 4px;
      box-shadow: none;
      position: absolute;
      right: 2px;
      bottom: 2px;
      font-size: 20px;
    }
  }

  &__error {
    color: $red;
  }

  &__info {
    color: $grayText;
  }

  .placeholder {
    position: absolute;
    font-size: 16px;
    transition: all 0.1s ease;
    transform: translate(0, -50%);
    left: 10px;
    top: 50%;
    color: $grayText;

    &.label--focused {
      @include placeholderFocusStyle;
    }
  }

  &__btn-submit {
    @extend .button;
    width: 100%;
    height: 48px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    background-color: $primary;
    color: $brown;
    margin-top: 16px;
    margin-bottom: 32px;

    &:hover,
    &:focus {
      background-color: $activePrimary;
      transition: all 0.2s ease-in-out;
    }
  }

  &__link {
    margin-left: 6px;
    color: $primary;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
